---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

p {
  padding-top: 25px;
  font-size: 0.75em;
}

// Mittens
.mitten-chart {
  width: 800px;
  display: flex;
}

.color-selectors {
  width: 200px;
  font-size: 0.75em;
  .color-selector {
    padding-bottom: 10px;
  }
}

.mitten {
  text-align: center;
  width: 600px;

  .row {
    height: 100%;
    .col {
      display: inline-block;
      border: 1px lightgray dotted;
      font-size: 8px;
      color: black;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
    }
  }
}
